@import "../../index.scss";

.contact-data {
    padding-left: 20px;
    padding-top: 20px;
    animation: contact 500ms ease-out;


    @keyframes contact {
        0% {
            opacity: 0;
            transform: translateX(100px);

        }

        50% {
            opacity: 0;
        }

        70% {
            opacity: 0.3;
        }

         100% {
            opacity: 1;
        }
    }

    .title-1 {
        color: $dark-text;
            font-weight: 500;
            opacity: .8;
            margin-bottom: .9em;
    }

    .title-2 {
        color: lighten(#000000, 30%);
            font-weight: 500;
            font-size: 22px;
            margin-bottom: 1em;
    }
}