
@import "index.scss";

.app {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    &-card {
        position: relative;
        overflow: hidden;
        width: 700px;
        height: 480px;
        border-radius: 5px;
        box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.2);

        
    }
}